*.iml
/local.properties
/.idea
.DS_Store
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
proguard/
*.log
.navigation/
captures/
*.jks

### Jekyll template
_site/
.sass-cache/
.jekyll-metadata



### Mac OS
*.DS_Store

### Windows
Thumbs.db

### IDEA, WebStorm
.idea

### Jekyll template
_site/
.sass-cache/
.jekyll-metadata

