# https://docs.travis-ci.com/user/languages/android
language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-24.0.2
    - android-24
    - sys-img-armeabi-v7a-android-24
    - extra-android-m2repository

#compileSdkVersion 'android-24' requires JDK 1.8 or later to compile.
jdk:
    - oraclejdk8
#Only CI for master & dev
branches:
  only:
    - master
    # Temporarily disable CI before 2.0 develop finish
    #- dev

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
    directories:
      - $HOME/.gradle/caches/
      - $HOME/.gradle/wrapper/

before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
script:
    - ./gradlew clean connectAndroidTest assembleRelease --stacktrace